@import 'fonts';

html,body{
	font: 100% RobotoMedium, Helvetica, sans-serif;
	line-height: 1.25em;
	height:100%;
	color: #757575;
	max-width: 1280px;
	margin: 0 auto;
}

.shelf__background{
	background-image: url("../img/bs.png");
	height: 400px;
	width: 400px;
	position: relative;
}

.wrapper{
	width:100%;
}
.left-column__wrapper{
	display: inline-block;
	padding:10px;
	width: 340px;
	float: left;
}
.right-column__wrapper{
	display: inline-block;
	padding:10px;
}
table{
	width: 900px;
	// max-width:900px;
	margin: 0 auto;
	thead  .pointer{
		cursor: pointer;
	}
	tbody{
		.books-table__title{
			font-size:16px;
		}
		.books-table__description{
			font-family: RobotoLight;
			width: 400px;
			white-space: normal;
			cursor: pointer;
			text-align: justify;
		}
	}
}

.new-book__container{
	margin: 0 auto;
	text-align: center;
}

.mdl-textfield{
	margin:0 auto;
}
.colored{
	background-color: #812;
}

.book__remove{
	height: 24px;
	width: 24px;
	&--visible{
		cursor: pointer;
		background-image: url("../img/close.png");			
	}
}

.star-rating{
	font-size: 0;
	&__wrap{
		display: inline-block;
		font-size: 1rem;
		&:after{
			// content: "";
			// display: table;
			// clear: both;
		}		
	}
	&__ico{
		float: right;
		padding-left: 2px;
		cursor: pointer;
		color: #FFB300;
		&:last-child{
			// padding-left: 0;
		}		
	}
	&__input{
		display: none;		
	}
}
.star-rating__ico:hover:before,
.star-rating__ico:hover ~ .star-rating__ico:before,
.star-rating__input:checked ~ .star-rating__ico:before
{
	content: "\f005";
}

